$colorh3: white;
$color-card-title:#0d6efd;

@import "./paginas/variables";
@import "./paginas/fuentes";
@import "./paginas/index";
@import "./paginas/products";
@import "./paginas/tienda";
@import "./paginas/cursos";
@import "./paginas/contact";



@each $k, $v in $fuentes {
	.font-#{$k} {
		font-weight: $v;
	}
	
}


.colorsite{
    @include fondo ($primary);
}

.colortext{
    @include color($primary);
}


.botoncolor{
    @include boton (blueviolet!important);
}

@mixin width-general {
	width: 25%;
}

@mixin width_general-full  {
	width: 100%;
}



@media screen and (min-width: 1200px){
	.cardAN{
    
        &:hover { 
            transform: translate(0px, -20px);
            
        }

        transition: .4s ease all; 
    }
	.card-title{
    
        &:hover {
            color: $primary !important;
            
            
        }
        transition: .3s ease all; 
    }

	.foto-tienda{
		&:hover{
			transform: scale(1.1,1.1);
		   
		}
		transition: .4s ease all; ;
	}
	
	.cursos_bs {
		
		&:hover{
			box-shadow: 2px 2px 10px 10px $primary;
			transform: scale(1.01)
		}
		transition: .3s ease all; 
	}
}

@media screen and (min-width:760px ) {

.section-img{
@include width-general;
}

.video-tienda{
	width: 100%;
}

}

@media screen and (min-width:576px ) and (max-width:759px) {


.section-img{
	@include width-general-full	;
}


#footer{
	@include width_general-full;
	height: 6rem;
	
	
}

.video-tienda{
	width: 100%;
}


}