
div {

    .prod_img{
        height:32rem;
        }
    }
    
    .contenedor {
        position: relative;
    }
    

    @mixin contenedor ($position) {
        position: $position;        
    }

    .contenedor{
    
        h2 {
            @include contenedor (absolute);
            
        }
    }   
    
    .contenedor {
        p {
            @include contenedor (absolute);
        }
    }
    
    .cardcolor {
        background: linear-gradient(#e66465, #9198e5); 
    }
    
    .aa{
        animation-name: aa;
        animation-duration: 3s;
        animation-iteration-count: 1;
        
    }
    
    @keyframes aa{
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    
   



    }
    